@import './../../constants/scssFile/color.scss';

.AvatarUploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .AvatarUploader__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    background-color: white;
  }

  .AvatarUploader__description {
    font-style: italic;
    color: white;
    font-size: 12px;
    margin-top: 10px;
  }

  .AvatarUploader__pickFile {
    display: none;
  }

  .AvatarUploader__CustomPickFile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 130px;

    background-color: white;
    margin: 10px 0 15px 0;
    border-radius: 20px;
    .CustomPickFile__icon {
      font-size: 20px;
    }
    .CustomPickFile__label {
      font-family: 'Segoe UI';
      font-size: 15px;
      line-height: 20px;
      margin-left: 10px;
      text-transform: none;
    }
  }
}

.AvatarUploader__Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  
  .Modal__Box {
    max-height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 400px;

    padding: 10px 20px;

    background: #FFFFFF;
    outline: none;
    border-radius: 20px;

    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25), 
                  4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-family: 'Segoe UI';

    .Box__Title {
      margin: 10px 0 0 0;
    }

    .Box__Content {
      font-style: italic;
      font-size: 14px;
    }

    .ReactCrop { 
      margin: 20px 0 10px 0;
      overflow-y: scroll;
      // width: 350px;
      // height: 350px;
      // object-fit: cover;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      .ReactCrop__image {
        min-width: 200px;
      }
      .ReactCrop__crop-selection {
        border-radius: 50%;
      }
    }


    .Confirm__btn {
      background: $appColor;
      color: white;

      border: none;
      border-radius: 20px;
      outline: none;

      font-size: 14px;
      text-transform: uppercase;

      padding: 10px 20px;
      margin: 10px;
    }
  }
}

