.GoogleSearchBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;

  background: #FFFFFF;

  border: 2px solid #aeaeae;
  border-radius: 30px;
  box-sizing: border-box;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin: 0 10px;
  // Icon
  .SearchBox__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #6f6f6f;
  }
  .icon--menu {
    margin-right: 5px;
    margin-left: 8px;
  }
  .icon--search {
    margin-left: 15px;
    margin-right: 10px;
  }

  .GoogleSearchBox__direction {
    color: #0496ff;
  }

  .SearchBox__divider {
    height: 60%;
    width: 2px;
  }

  .Search__input {
    height: 100%;
    width: 200px;

    font-size: 16px;

    border: unset;

    background-color: unset;

    outline: none;
    &::placeholder {
      color: #a0a0a0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      line-height: 23px;
    }
  }
}