.apptCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    width: 100%;
    padding: 0 5%;
    margin-top: 10px;

    .MuiPaper-root {
        width: 90%;

        .MuiAccordionSummary-root {

            .MuiAccordionSummary-content {
                display: flex;
                flex-direction: row;
                
    
                .basicInfo {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
    
                .MuiButtonBase-root {
                    width: max-content;
                }
            }
        }

        .locationName {
            display: flex;
            width: 100%;
        }

        .apptTime {
            display: flex;
            width: 100%;
            margin-top: 5px;
        }

        .specifications {
            display: flex;
            width: 100%;
            flex-direction: column;
            
            .descriptionGroup {
                display: flex;
                width: 100%;
            }
        }
    }
}