@import 'constants/scssFile/responsive.scss';
@import 'constants/scssFile/color.scss';

.Introduction {
  padding-top: 75px;
  .Introduction__background {
    width: 100%;
    height: 90vh;
    // Background and animation
    background-image: url('./../../../assets/jpg/background_introduction.jpg');
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover; 

    display: flex;
    flex-direction: column;
    justify-content: center;

    .Introduction__blur {
      width: 100%;
      height: 100%;

      background: rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      justify-content: center;

      .Introduction__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        color: white;
        .content__title {
          font-size: 30px;
          line-height: 35px;
        }
    
        .content__intro {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          font-size: 40px;
          line-height: 47px;
        }  

        .Introduction__navigate {
          padding-left: 60px;
          margin-top: 30px;
          .navigate__link {
            padding: 10px 20px;

            border-radius: 10px;

            text-decoration: unset;
            text-transform: uppercase;

            font-family: 'Roboto';
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
          }
          .link--maps {
            color: white;
            background-color: $appColor;
          }
          .link--learnMore {
            color: $appColor;
            background-color: white;
            margin-left: 20px;
          }
        }
      }
    }
  }
}