.Profile__User {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;

  #Name--sticky {
    color: white;
  }

  .User__avatar {
    height: 45px;
    width: 45px;

    border-radius: 50%;
  }

  .User__name {
    margin: 0px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: black;
    text-transform: none;
  }

  .Icon__dropdown{
    font-size: 18px;
  }
  
  .icon--sticky {
    color: white;
  }
}
