.imgWrapper {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

    box-sizing: border-box;
    display: inline-flex;
    cursor: pointer;

    img {
        margin-top: 8px;
        vertical-align: middle;
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 800px) {
    .imgWrapper {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .imgWrapper {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}