.memberIcon {
    height: fit-content;
    max-height: 50px;
    padding-left: 15px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    img {
        border-radius: 50px;
        width: 30px;
        height: 30px;
    }

    .memberName {
        margin-left: 10px;
        max-height: 30px;
        max-width: 80%;
        display: block;
        align-items: center;
        color: white;
        text-overflow:ellipsis;
        overflow: hidden;
    }
}