@import 'constants/scssFile/background-style.scss';
@import 'constants/scssFile/custom-style.scss';
@import 'constants/scssFile/color.scss';

.ForgotPasswordForm {
  .ForgotPasswordForm__title {
    color: #fff;
    
    padding-bottom: 0.4em;
    // Font
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
  
    text-align: center;
  }
  
  .ForgotPasswordForm__content {
    width: 375px;
    margin: 0 auto;
  
    z-index: 999;

    background: rgba(0, 0, 0, 0.37);
    // Box shadow
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
  
    // Logo
    .ForgotPasswordForm__logo--icon {
      text-align: center;
  
      .ForgotPasswordForm__logo {
        width: 150px;
        height: 150px;
        margin-top: 20px;
      }
    }
  
 
    
    .ForgotPasswordForm__Form {
      display: flex;
      flex-direction: column;

      margin: 0 25px;
      padding-bottom: 30px;

      // Label nội dung
      .ForgotPasswordForm__label {
        text-align: center;

        font-size: 15px;

        margin-top: 10px;

        color: white;

        font-weight: 500;
      }

      // Form nhập Email
      .ForgotPasswordForm__input--form {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        height: 40px;
        border-radius: 20px;
        padding: 0px 20px;
        margin: 20px 0;
    
        background: rgba(255, 255, 255, 0.94);
    
        .ForgotPasswordForm__icon {
          display: inline-block;
        
          color: #222;
        
          font-size: 14px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        
          padding-right: 10px;
        
        }
        
        .ForgotPasswordForm__input {
          display: inline-block;
          width: 90%;
    
          background: transparent;
          color: #222;
    
          font-size: 15px;
          letter-spacing: 0.5px;
    
          border: none;
          outline: none;

          &::placeholder {
            font-family: 'Segoe UI';
            font-size: 14px;
            font-weight: 500;
            color: #5c5c5c;
          }
        }
      }
    
      // Nút Hoàn tất
      .ForgotPasswordForm__btn {
        display: inline-block;
        width: 100%;
    
        height: 40px;
        border-radius: 100px;

        background: $appColor;
        color: #fff;
    
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
    
        border: none;
        outline: none;
    
        cursor: pointer;
      }
    
      // Link qua sign in và sign up
      .ForgotPasswordForm__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Link__btn {
          margin: 20px 0 0;
        
          color: #e2e2e2;
        
          font-size: 13px;
          text-transform: uppercase;
          
          text-decoration: unset;
        }

        .btn--back {
          color: $appColor;
          font-size: 15px;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}