@import 'constants/scssFile/responsive.scss';
@import 'constants/scssFile/color.scss';

.Menu {
  position: relative;
  // Authentication
  .Navbar__AuthenLink {
    display: flex;
    align-items: center;
    
    height: 100%;
    
    #signup--sticky {
      color: white;
    }
    
    #login--sticky {
      color: $appColor;
      background-color: white;
    }
    
    .AuthenLink__Btn {
      text-decoration: unset;
    
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
    
      cursor: pointer;
    }
    
    @include mobile {
      display: none;
    }
    
    @include tablet {
      display: none;
    }
    
    .Btn--signup {
      color: #219653;
    
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .Btn--login {
      border-radius: 10px;
    
      padding: 10px 15px;
      margin-left: 15px;
    
      background-color: #219653;
      color: white;
    }
  }
    
  .Navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    @include desktop {
      display: none;
    }
    
    #menu--sticky { 
      color: white;
    }
    
    .Menu__icon {
      font-size: 30px;
      color: $appColor;
    }
  }
}
