@import 'constants/scssFile/color.scss';

.UserInfoForm {
  .UserInfoForm__title {
    color: #fff;
    
    padding-bottom: 0.4em;
    // Font
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
  
    text-align: center;
  }
  
  .UserInfoForm__content {
    width: 375px;
    margin: 0 auto;
  
    z-index: 999;
  
    background: rgba(0, 0, 0, 0.37);
    // Box shadow
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
 

    .UserInfoForm__form {
      margin: 0 25px;
      padding: 20px 0 30px 0;
      // Form Input
      .UserInfoForm__input--form {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        height: 40px;
        border-radius: 20px;
        padding: 0px 20px;
        margin: 20px 0;
    
        background: rgba(255, 255, 255, 0.94);

        .UserInfoForm__icon {
          display: inline-block;
        
          color: #222;
        
          font-size: 14px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        
          padding-right: 10px;
        }
        
        .UserInfoForm__input {
          display: inline-block;
          width: 90%;
    
          background: transparent;
          color: #222;
    
          font-size: 15px;
          letter-spacing: 0.5px;
    
          border: none;
          outline: none;

          &::placeholder {
            font-family: 'Segoe UI';
            font-size: 14px;
            font-weight: 500;
            color: #5c5c5c;
          }
        }
      }
    
      // Nút Hoàn Tất
      .UserInfoForm__btn {
        display: inline-block;
        width: 100%;
    
        height: 40px;
        border-radius: 100px;
    
        background: $appColor;
        color: #fff;
    
        font-family: 'Segoe UI';
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
    
        border: none;
        outline: none;
    
        cursor: pointer;
      }
    }
  }
}