@import 'constants/scssFile/responsive.scss';
@import 'constants/scssFile/color.scss';

.NavbarHeader {
  position: absolute;
  width: 100%;

  z-index: 300;
  #navbar--sticky {
    position: fixed;
    top: -70.5px;
    background-color: $appColor;

    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  }

  .Header__navbar {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: calc(100% - 60px);

    padding: 0 30px;
  
    background-color: $navbarColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    font-size: 16px;
    font-weight: 300;
  
    font-family: 'Roboto';
    
    // Logo
    .Navbar__logo {
      height: 70px;
      width: 130px;

      outline: none;
  
      border: none;
  
      background-color: transparent;

      cursor: pointer;
    }
  
    // Navigation
    .Navbar__navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      
      @include mobile {
        display: none;
      }

      @include tablet {
        display: none;
      }

      #link--sticky {
        color: white;
      }

      .Navigation__link {
        margin: 10px;
        color: black;
        text-decoration: unset;
        cursor: pointer;
        &:hover{
          color : $appColor;
          font-weight: bold;
          opacity: 1;
        }
      }
    }
  }
}