
.DeleteMarkerDropdown {
  position: absolute;
  right: -80px;
  bottom: -50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-color: #e9e9e9;
  border-radius: 10px;

  padding: 5px 10px;
  
  border: 2px solid black;
  hr {
    border: 0.25px solid black;
    width: 100%;
    margin: 5px 0;
  }

  .Delete__Location {
    width: 100%;
    .Icon {
      font-size: 15px;
      margin-right: 5px;
      // color: white;
    }

    .Icon__description {
      text-transform: none;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      color: black;
    }
  }
}