

.MapSidebar {
  position: absolute;
  top: 100px;
  // left: 10px;
  z-index: 1000;
  .SideBar {
    margin-top: 10px;
    margin-left: 10px;
    
    background-color: white;

    border-radius: 20px;

    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25), 2px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}