.emptyBarWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-basis: auto;
    width: 25%;
    max-height: 100vh;

    .groupSelection {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 20%;
        max-height: 100%;
        background-color: #219653;

        overflow-y: scroll;
        -ms-overflow-style: none;
    }

    .groupWrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-height: 100%;
        background-color: #60D090;
        justify-content: space-between;

        overflow-y: scroll;
        -ms-overflow-style: none;

        .wrapAgain {
            text-align: center;
            padding: 10px;

            font-weight: bold;
            font-style: oblique;
            color: white;
        }

        .btnBack {
            border-radius: 30px;
            margin-bottom: 10px;
            padding: 2% 0 2% 0;
            width: 80%;
            align-self: center;
            background-color: #e63010;
            color: white;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}