@import 'constants/scssFile/custom-style.scss';
@import 'constants/scssFile/color.scss';

.SignUpForm {
  .SignUpForm__title {
    color: #fff;
    
    padding-bottom: 0.4em;
    // Font
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
  
    text-align: center;
  }
  
  .SignUpForm__content {
    width: 375px;
    margin: 0 auto;
  
    z-index: 999;
    
    background: rgba(0, 0, 0, 0.37);
    // Box shadow
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
  
    // Logo
    .SignUpForm__logo--icon {
      text-align: center;
  
      .SignUpForm__logo {
        width: 150px;
        height: 150px;
        margin-top: 20px;
      }
    }
  
    .SignUpForm__form {
      margin: 0 25px;
      padding-bottom: 30px;

      // Đăng ký bằng social
      .SignUpForm__social {
        margin: 0 0 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .SignUpForm__socialIcon {
          font-size: 12px;
          color: white;
          padding: 0 0 2px;
        }
    
        .SignUpForm__social--title {
          display: inline-block;
    
          margin: 0 5px;
    
          color: #fff;
    
          font-weight: 400;
          font-size: 15px;
          letter-spacing: 1px;
          text-transform: capitalize;
        }
    
        .SignUpForm__social--btn {
          display: flex;
        }
      }
    
      // ------Or------
      .SignUpForm__separate {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        width: 50%;
    
        font-size: 16px;
    
        color: white;
    
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
    
        hr {
          flex: 1;
          background: #c0d0df;
          border: none;
          height: 1px;
        }
        span {
          flex: 2;
        }
      }
    
      // Form nhập tài khoản mật khẩu
      .SignUpForm__input--form {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        height: 40px;
        border-radius: 20px;
        padding: 0px 20px;
        margin: 20px 0;
    
        background: rgba(255, 255, 255, 0.94);
    
        .Input__Description {
          font-family: 'Segoe UI';
          font-size: 14px;
          font-weight: 500;
          color: #5c5c5c;

          width: 100px;
        }

        .Date__input {
          padding-top: 2px;
        }

        .SignUpForm__icon {
          display: inline-block;
        
          color: #222;
        
          font-size: 14px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        
          padding-right: 10px;
        }
        
        .SignUpForm__input {
          display: inline-block;
          width: 90%;
    
          background: transparent;
          color: #222;
    
          font-size: 15px;
          letter-spacing: 0.5px;
    
          border: none;
          outline: none;
          
          &::placeholder {
            font-family: 'Segoe UI';
            font-size: 14px;
            font-weight: 500;
            color: #5c5c5c;
          }
        }
      }
    
      // Nút đăng ký
      .SignUpForm__btn {
        display: inline-block;
        width: 100%;
    
        height: 40px;
        border-radius: 100px;
    
        background: $appColor;
        color: #fff;
    
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        font-weight: bold;
        font-weight: 500;
        
        border: none;
        outline: none;
    
        cursor: pointer;
      }
    
      // Redirect tới đăng nhập
      .SignUpForm__redirect--login {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        margin: 20px 0 0;
    
        color: #e2e2e2;

        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 17px;

        .SignUpForm__redirect--btn {    
          color: $appColor;

          font-family: 'Segoe UI';
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 20px;
          text-decoration: underline;
          text-transform: uppercase;        
        }
      } 
    }
  }
}