@import 'constants/scssFile/custom-style.scss';

.social__google {
  @include social-icon-form;

  background: #FF2E00;

  margin-left: 10px;
  .social__icon--style {
    @include social-icon-style;
  }
}