@import 'constants/scssFile/responsive.scss';
@import 'constants/scssFile/color.scss';
@import 'constants/scssFile/custom-style.scss';

.LearnMoreScreen {
  min-height: 90vh;

  .LearnMoreScreen__content {
    padding-top: 75px;
    margin-bottom: 50px;

    .LearnMore__Intro {
      display: flex;
      justify-content: center;
      align-items: center;

      margin: 20px 0;
      .Intro__logo {
        width: 120px;

        @include tablet-and-mobile  {
          width: 100px;
        }
      }
      .Intro__description {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;
        
        color: #646464;

        margin-left: 20px;

        @include tablet-and-mobile {
          font-size: 20px;
        }
      }
    }

    // ----------------------------------------------------
    // CSS for detail
    .learnMore__left {
      justify-content: flex-start;
    }

    .learnMore__right {
      justify-content: flex-end;
    }

    .LearnMore__detail {
      display: flex;
      align-items: center;

      height: 130px;

      margin: 20px 0;
      // ----------------------------------------------------
      // CSS for icon
      .left__detail {
        justify-content: flex-end;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
      }

      .right__detail {
        justify-content: flex-start;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
      }
      
      .Detail__icon{
        width: 25%;
        display: flex;
        align-items: center;

        background-color: $learnMoreIconColor;

        .Info__icon {
          width: 80px;
        }
        .icon__left {
          padding: 20px 50px 20px 0;
        }
        .icon__right {
          padding: 20px 0 20px 50px;
        }
      }
      // ----------------------------------------------------
      // Css for description
      .Detail__description {
        font-family: $font-stack-montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        color: #000000;

        margin: 0 40px;

        width: 40%;
      }

      .left__description {
        text-align: start;
      }

      .right__description {
        text-align: end;
      }
      // ----------------------------------------------------
    }
    // ----------------------------------------------------

  }
}