@import 'constants/scssFile/color.scss';
@import 'constants/scssFile/custom-style.scss';

.Notification__Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  // ---------------------------
    // style scroll bar
    /* width */
    ::-webkit-scrollbar {
      width: 0px;
    }
  // ---------------------------

  .Modal__Box {
    overflow-y: auto;

    max-height: 90vh;

    // width: 400px;

    padding: 10px 50px;

    background: #FFFFFF;
    outline: none;
    border-radius: 20px;

    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25), 
                  4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-family: 'Segoe UI';
    
    .Box__Content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .Box__Title {
        font-size: 30px;
        font-family: $font-stack-montserrat;
      }

      .Box__Description {
        font-family: $font-stack-montserrat;
      }

      .Btn__close {
        display: flex;
        justify-content: center;
  
        padding: 6px 15px;
        margin: 20px 0px 10px;

        border-radius: 10px;

        background-color: $appColor;

        text-transform: none;
        color: white;
      }        
    }
  }
}