@import 'constants/scssFile/background-style.scss';
@import 'constants/scssFile/custom-style.scss';
@import 'constants/scssFile/color.scss';

.SignInForm {
  .SignInForm__title {
    color: #fff;
    
    padding-bottom: 0.4em;
    // Font
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
  
    text-align: center;
  }
  
  .SignInForm__content {
    width: 375px;
    margin: 0 auto;
  
    z-index: 999;

    background: rgba(0, 0, 0, 0.37);
    // Box shadow
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
  
    // Logo
    .SignInForm__logo--icon {
      text-align: center;
  
      .SignInForm__logo {
        width: 150px;
        height: 150px;
        margin-top: 20px;
      }
    }
  
    .SignInForm__Form {
      margin: 0 25px;
      padding-bottom: 30px;

      // Form nhập tài khoản mật khẩu
      .SignInForm__input--form {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        height: 40px;
        border-radius: 20px;
        padding: 0px 20px;
        margin: 20px 0;
    
        background: rgba(255, 255, 255, 0.94);
    
        .SignInForm__icon {
          display: inline-block;
        
          color: #222;
        
          font-size: 14px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        
          padding-right: 10px;
        
        }
        
        .SignInForm__input {
          display: inline-block;
          width: 90%;
    
          background: transparent;
          color: #222;
    
          font-size: 15px;
          letter-spacing: 0.5px;
    
          border: none;
          outline: none;
          
          &::placeholder {
            font-family: 'Segoe UI';
            font-size: 14px;
            font-weight: 500;
            color: #5c5c5c;
          }
        }
      }
    
      // Nút đăng nhập
      .SignInForm__btn {
        display: inline-block;
        width: 100%;
    
        height: 40px;
        border-radius: 100px;

        background: $appColor;
        color: #fff;
    
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
    
        border: none;
        outline: none;
    
        cursor: pointer;
      }
    
      // Quên mật khẩu và đăng kí
      .SignInForm__forgotCreate {
        display: flex;
        justify-content: space-between;
    
        .SignInForm__forgotCreate--btn {
          margin: 20px 0 0;
        
          color: #e2e2e2;
        
          font-size: 11px;
          text-transform: uppercase;
          letter-spacing: 1px;
          
          text-decoration: unset;
        }
      }
    
      // Đăng nhập bằng social
      .SignInForm__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        margin-top: 20px;

        .SignInForm__social--title {
          display: inline-block;
    
    
          color: #fff;
    
          font-weight: 400;
          font-size: 15px;
          letter-spacing: 1px;
          text-transform: capitalize;
        }
        .SignInForm__social--btn {
          display: flex;
        }
      }
    }
  }
}
