.appointmentsWrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;

    .appointments {
        display: flex;
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }

    .newAppointment {
        display: flex;
        width: 50%;
        margin: 10px auto;
        vertical-align: middle;
        background-color: #ff0266;
        border-radius: 30px;
        cursor: pointer;
        z-index: 10;
        box-shadow: 2px 2px 5px #504b4b;

        span {
            margin: 5px auto;
            color: white;
            font-weight: bold;
        }
    }
}