@keyframes slideleft {
  from {
      background-position: 0%;
  }
  to {
      background-position: 90000%;
  }
}

@-webkit-keyframes slideleft {
  from {
      background-position: 0%;
  }
  to {
      background-position: 90000%;
  }
}