$appColor: #219653;
$navbarColor: #f9f9f9;
$footerColor: #1A1A1A;
$yellowPrimary: #FFE194;
$orangePrimary: #FF9F69;
$learnMoreIconColor: #DBF5C6;

$parkingMarkerColor: #ffbb3f;
$gasStationMarkerColor: #00c06f;

