@mixin social-icon-form {
  display: block;
  width: 35px;
  height: 35px;

  line-height: 35px;

  text-align: center;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: unset;
  
  cursor: pointer;
}

@mixin social-icon-style {
  font-size: 12px;
  color: white;
  // padding: 0 0 2px;
}


// Fonts
$font-stack-montserrat: "Montserrat", sans-serif;
$font-stack-montserrat-bold: "Montserrat-Bold", sans-serif;