@import 'constants/scssFile/color.scss';

.DirectionBox {
  display: flex;
  margin-top: 10px;
  background-color: $appColor;
  padding: 0 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  .Icon__swap {
    padding: 15px;

    outline: none;
    border-radius: unset;
    background-color: transparent;
    &:hover {
      background-color: $appColor;
    }
  }

  .PlaceBox__input {
    display: flex;
    flex-direction: column;

    padding: 15px 20px 15px 20px;

    width: 100%;

    background-color: transparent;

    

    .Place__input {
      padding: 5px 0;

      background-color: transparent;

      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #ffffff;

      outline: none;
      font-size: 14px;

      font-family: 'Roboto';

      color: white;
      &::placeholder {
        color: #ffffff;
      }
    }

    .StartingPoint__input {

    }

    .ArrivePoint__input {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}