.MapAuthenButton {
  position: absolute;
  top: 15px;
  right: 20px;
  
  .AuthenticationButton__navigate {
    text-decoration: unset;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
  
    cursor: pointer;
    
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    padding: 8px 12px;
  
    background-color: #219653;
    color: white;
  }

  .User__avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }

  .InfoDropDown {
    position: absolute;
    right: 0px;
    
    border-radius: 15px;
  
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    width: 300px;
    .User__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 30px;
  
      .Info__avatar {
        height: 80px;
        width: 80px;
        border-radius: 50%;
      }
  
      .Info__name {
        margin-top: 15px;
  
        font-size: 16px;
        font-family: 'Roboto';
        font-weight: bold;
      }
  
      .Info__email {
        width: 100%;
  
        margin-top: 5px;
  
        color: #5f6368;
        
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 400;
        letter-spacing: normal;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .Dropdown__action {
      display: flex;
      flex-direction: column;
      align-items: center;

      border-top: 1px solid #e8eaed;
      border-bottom: 1px solid #e8eaed;

      padding: 20px 20px 0;

      .Action {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-decoration: unset;
        color: black;
        outline: none;
  
        padding: 10px 15px;
        border: 1px #dadce0 solid;
        border-radius: 5px;

        margin-bottom: 20px;
      }
    }
    .LogOut__Button {
      display: flex;
      justify-content: center;
  
      .Button {
        background-color: #219653;
        color: white;
  
        margin: 15px 0;
        padding: 10px 30px;
  
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
      
        cursor: pointer;
        
        border-radius: 10px;
        border: none;
  
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}