.barWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-basis: auto;
    width: 25%;
    max-height: 100vh;

    .groupSelection {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 20%;
        max-height: 100%;
        background-color: #219653;
        z-index: 10;
        box-shadow: 2px 0px 20px #219653;

        overflow-y: scroll;
        -ms-overflow-style: none;

        hr {
            border: 1px solid white;
            width: 80%;
        }
    }

    .groupWrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-height: 100%;
        background-color: #60D090;
        justify-content: space-between;
        overflow-y: scroll;
        -ms-overflow-style: none;

        .wrapAgain {
            hr {
                width: 100%;
                color: gray;
                margin-top: 10px;
            }
    
            .overView {
                display: flex;
                flex-direction: column;
                padding: 15px;
                text-align: center;
                color: white;
    
                b {
                    padding-bottom: 10px;
                    text-decoration: underline;
                }
            }
    
            .members {
                display: flex;
                flex-direction: column;
                color: white;
                padding-left: 10%;
    
                .btnInvite {
                    border-radius: 30px;
                    border-style: hidden;
                    margin-top: 10px;
                    padding: 2% 0 2% 0;
                    width: 90%;
                    text-align: center;
                    background-color: white;
                    color: #219653;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
    
            .functionButtons {
                display: flex;
                flex-direction: column;
    
                .btnWrapper {
                    display: block;
                    margin-top: 10px;
                    margin-left: 10%;
                    padding: 2% 0 2% 10%;
                    border-radius: 30px 0 0 30px;
                    background-color: white;
                    align-items: center;
                    color: #219653;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

        .btnBack {
            border-radius: 30px;
            margin-bottom: 10px;
            padding: 2% 0 2% 0;
            width: 80%;
            align-self: center;
            background-color: #e63010;
            color: white;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}