.invitation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 10px;

    .invitationInfo {
        display: flex;
        flex-direction: row;
        height: fit-content;

        img {
            width: 30px;
            border-radius: 30px;
            display: flex;
        }

        .userInfo {
            display: flex;
            height: 100%;
            margin: auto 10px;
        }
    }
}