.Group__ImageView {
  background-color: white;
  border: 2px black solid;
  object-fit: contain;
  max-width: 80%;
  height: auto;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
}