@import 'constants/scssFile/responsive.scss';
@import 'constants/scssFile/color.scss';

.MobileDownload {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px 30px;
  padding: 0px 30px;
  background-color: $appColor;

  border-radius: 30px;

  .Download__content {
    display: flex;
    align-items: center;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 47px;
    color: white;

    @include tablet-and-mobile {
      font-size: 20px;
    }

    text-transform: uppercase;
    .Download__logo {
      height: 200px;
      @include tablet-and-mobile {
        height: 150px;
      }
    }
  }
  .Download__store {
    display: flex;
    flex-direction: column;
    .Store__btn {
      height: 50px;
      margin: 10px;
      @include tablet-and-mobile {
        height: 35px;
      }
    }
  }
}