@import 'constants/scssFile/color.scss';

.InfoWindow__Content {
  width: 250px;
  .Info__image {
    height: 120px;
    width: 250px;
    object-fit: cover;
    border-radius: 8px;
  }
  .Info__name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
  }
  .Info__address {
    margin-top: 5px;
  }
  .Info__phoneNumber {
    margin-top: 5px;
  }
  .Info__description {
    margin-top: 5px;
    font-style: italic;
  }
  .Info__rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 5px;
    .rating {
      margin-left: 5px;
      font-size: 20px;
    }
  }
  .Info__NoInfo {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
  .Info__actions { 
    display: flex;
    justify-content: flex-end;

    margin-top: 5px;
    .AddDate__btn {
      
      min-width: 20px;
      padding: 5px;

      color: $orangePrimary;

      font-size: 22px;
    }
  }
}
