.OptionSidebar {
  position: absolute;
  top: 0;
  // left: 10px;
  z-index: 1200;

  height: 100%;
  width: 100%;

 
  .Background {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
  }

  .Sidebar {
    position: absolute;
    top: 0;

    height: 100%;
    width: 300px;

    background-color: white;

    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25), 2px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

    .divider {
      width: 90%;
      border-width: 0.25px;
    }

    .Logo__Back {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 10px 15px 0;
      
      .App__Logo {
        height: 70px;
      }
      .Each__icon {
        .Icon {
          font-size: 18px;
        }
      }
    }

    .Each__Switch {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;

      .Title {

      }

      .Switch {

      }
    }

  }
}