@import 'constants/scssFile/responsive.scss';
@import 'constants/scssFile/color.scss';

.Header { 
  width: 100%;

  z-index: 300;
  .Header__Information {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100% - 60px);

    height: 40px;
    padding: 0px 30px;

    background-color: $appColor;
    
    .Information__email {
      display: flex;
      align-items: center;
      text-decoration: unset;

      color: white;
      .Email__icon {
        font-size: 20px;
      }
      .Email__text {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-left: 10px;
      }
    }

    .Information__social {
      display: flex;
      align-items: center;

      .social__icon {
        color: white;
        font-size: 20px;
      }
      .icon--margin {
        margin-left: 20px;
      }
    }
  }
}