@import 'constants/scssFile/responsive.scss';
@import 'constants/scssFile/color.scss';

.groupIcon {
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10%;

    img {
        border-radius: 50px;
        display: block;
        width: 45px;
        height: 45px;
        margin: auto;
        object-fit: cover;

        @include tablet {
            width: 30px;
            height: 30px;
        }
    }
}

.groupIcon:hover {
    background-color: rgba(255, 255, 255, 0.171);
    border-left: 2px solid white;
}

.selectedGroupIcon {
    width: 100%;
    border-left: 3px solid white;
    margin-top: 10%;

    cursor: pointer;

    img {
        border-radius: 50px;
        display: block;
        width: 45px;
        height: 45px;
        margin: auto;
        object-fit: cover;

        @include tablet {
            width: 30px;
            height: 30px;
        }
    }
}