@import 'constants/scssFile/color.scss';

.RedirectSignIn__Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  // ---------------------------
    // style scroll bar
    /* width */
    ::-webkit-scrollbar {
      width: 0px;
    }
  // ---------------------------

  .Modal__Box {
    overflow-y: auto;

    max-height: 90vh;

    padding: 10px 50px;

    background: #FFFFFF;
    outline: none;
    border-radius: 20px;

    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25), 
                  4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-family: 'Segoe UI';
    
    .Box__Content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin: 20px 0;
      .Box__Title {
        font-size: 30px;
        margin: 0 0 20px;
      }

      .Link__signIn {
        padding: 10px 30px;
        margin-top: 10px;

        text-decoration: unset;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
      
        cursor: pointer;
        
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
        background-color: $appColor;
        color: white;
      }
    }
  }
}