.AuthenPage {
  min-height: 100vh;

  // Background and animation
  background-image: url('../../../assets/jpg/background.jpg');
  background-repeat: repeat-x;
  animation: slideleft 20000s infinite linear;
  -webkit-animation: slideleft 20000s infinite linear;
  
  position: relative;
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size:cover; 
  background-attachment: fixed;

  .AuthenPage__background {
    background: rgba(0, 0, 0, 0.44);
  
    min-height: 100vh;
    padding-bottom: 50px;
    .AuthenPage__link {
      display: flex;
      align-items: center;
  
      width: 110px;
      padding: 10px 30px 0;
  
      .AuthenPage__backIcon {
        font-size: 32px;
        color: white;
      }
  
      .AuthenPage__Logo {
        width: 70px;
        height: 70px;
      }
    }
  }
}
