@import './../../constants/scssFile/color.scss';

.ProfileScreen {
  min-height: calc(100vh - 250px);

  padding-top: 90px;
  margin-bottom: 50px;
  .ProfileScreen__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Content__title {
      font-size: 35px;
      margin-bottom: 35px;
    }

    
    .Profile__info {
      width: 450px;
      padding: 30px;

      background: $appColor;
      
      border-radius: 20px;
      box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25), 
                  4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

      .divider {
        width: 100%;
        border: 0.5px solid white;
        background: white;
      }

      .MarginField {
        margin-top: 10px;
      }

      // actions css
      .Actions {
        display: flex;
        justify-content: center;

        .Action__btn {
          padding: 6px 15px;
          border-radius: 10px;
          color: #2F2F2F;
        }

        .Btn__cancel {
          margin-right: 10px;
          background-color: #F0F0F0;
          
          text-transform: none;
        }

        .Btn__confirm {
          margin-left: 10px;
          background-color: $yellowPrimary;
          text-transform: none;
        }
      }

      // Avatar css
      .Profile__avatar {
        display:flex;
        flex-direction: column;
      }

      // Title introduct
      .Title__text {
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
        color: white;
      }

      // Email css
      .Profile__email {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: white;
        .Email__title {
          font-weight: bold;
          text-transform: capitalize;
        }
        .Email {
          margin-left: 10px;
          font-size: 16px;
        }
      }

      // Name CSS
      .Profile__name {
        .Name__title {
          display: flex;
          justify-content: space-between;

          color: white;
          .Title {
            font-size: 16px;
            font-weight: bold;
            text-transform: capitalize;
          }
          .Name__btn {
            padding-top: 5px;

            outline: none;
            border: unset;

            background-color: transparent;
            color: white;

            font-style: italic;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-decoration: underline;
            text-transform: capitalize;
          }
        }
        .Name__input {
          width: calc(100% - 40px);
          margin: 10px 0;
          border-radius: 10px;
          border: 1px solid white;
          padding: 10px 15px;
          font-size: 16px;
          &:disabled {
            margin-bottom: 10px;
            background-color: #E3E3E3;
            color: #2F2F2F;
          }
        }
      }

      // Phone number css
      .Profile__phoneNumber {
        color: white;
        .PhoneNumber__title {
          display: flex;
          justify-content: space-between;
          .Title{
            font-size: 16px;
            font-weight: bold;
            text-transform: capitalize;
          }
          .PhoneNumber__btn {
            padding-top: 5px;

            outline: none;
            border: unset;
  
            background-color: transparent;
            color: white;
  
            font-style: italic;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-decoration: underline;
            text-transform: capitalize;
          }
        }
        .PhoneNumber__input {
          width: calc(100% - 40px);
          margin: 10px 0;
          border-radius: 10px;
          border: 1px solid white;
          padding: 10px 15px;
          font-size: 16px;
          &:disabled {
            margin-bottom: 10px;
            background-color: #E3E3E3;
            color: #2F2F2F;
          }
        }
        .PhoneNumber__addBtn {
          background-color: white;
          border-radius: 10px;
          margin-top: 10px; 
        }
      }
      
      .Profile__password {
        .Password__btn {
          background-color: white;
          border-radius: 10px;
          margin-top: 10px; 
        }
      }
    }
  }
}