@import 'constants/scssFile/responsive.scss';
@import 'constants/scssFile/custom-style.scss';

.ContactScreen {
  min-height: 90vh;
  .ContactScreen__content {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 75px;
    margin-bottom: 50px;
    .ContactScreen__Info {
      width: 80%;

      min-height: 65vh;

      margin: 40px;

      background-color: white;

      box-shadow: 
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 
      0px -4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25),
      -4px 0px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 
      4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
        
      border-radius: 50px;
      
      .Description__title {
        font-family: $font-stack-montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;

        color: #646464;

        text-align: center;


        margin: 30px;

        @include tablet-and-mobile {
          font-size: 30px;
        }
      }

      .Description__info {
        margin: 60px 30px 30px 30px;
        .Info__each {
          display: flex;
          align-items: center;

          font-size: 20px;

          margin: 10px 20px;

          @include tablet-and-mobile {
            font-size: 12px;
          }

          .Info__icon {
            font-size: 30px;

            @include tablet-and-mobile {
              font-size: 20px;
            }
          }
          .content {
            margin-left: 10px;
          }
        }
      }

    }
  }
}