@import 'constants/scssFile/custom-style.scss';
@import 'constants/scssFile/color.scss';
@import 'constants/scssFile/responsive.scss';

.Footer {
  width: 100%;

  color: #ecedec;
  
  .Footer__Content {
    width: 100%;

    background-color: $footerColor;

    hr {
      border: 0.5px solid white;
    }

    .Content__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      width: calc(100% - 60px);
      padding: 10px 30px;

      font-size: 14px;

      .Content__left {
        // Logo
        .Footer__logo {
          height: 100px;
          width: 100px;

          @include tablet-and-mobile {
            height: 80px;
            width: 80px;
          }

          outline: none;
    
          border: none;
      
          background-color: transparent;
          z-index: 100;
        }

        .Footer__information {

          hr {
            width: 40px;
            margin-left: 0px;
          }

          .Footer__information--eachDetail {
            display: flex;
            @include tablet-and-mobile {
              font-size: 12px;
            }
            .eachDetail__title {
              margin-right: 5px;
              font-weight: 500;
            }
          }
        }
      }

      .Content__right {
        margin-right: 30px;
        .route__link {
          text-decoration: unset;
          color: white;
          font-size: 14px;
          @include tablet-and-mobile {
            font-size: 11px;
          }
        }

        hr {
          border-width: thin;
        }

        .Content__right--title {
          font-weight: 500;
          font-size: 14px;
          margin-bottom: 10px;
          letter-spacing: 0.5px;
          @include tablet-and-mobile {
            font-size: 13px;
          }
        }
      }
    }

    .Footer__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      width: calc(100% - 60px);
      padding: 0px 30px;
      
      height: 50px;

      background-color: black;
      
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;

      @include tablet-and-mobile {
        font-size: 14px;
      }

      .Footer__bottom--right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Icon__Social {
          display: flex;
          justify-content: center;
          align-items: center;

          min-width: unset;
          width: 30px;
          height: 30px;
        
          margin-left: 10px;
        
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        
          background: $appColor;

          outline: none;

          color: white;

          font-size: 15px;


          &--Facebook:hover {
            background: #0e468c;
          }

          &--Youtube:hover {
            background: #f12929;
          }
        }
      }
    }
  }
}