@import 'constants/scssFile/responsive.scss';
@import 'constants/scssFile/custom-style.scss';

.AboutScreen {
  min-height: 90vh;
  .AboutScreen__content {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 75px;
    margin-bottom: 50px;
    
    .About__Info {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 80%;

      min-height: 65vh;

      margin: 40px;

      background-color: white;

      box-shadow: 
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 
      0px -4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25),
      -4px 0px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 
      4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
        
      border-radius: 50px;

      .About__description {
        width: 60%;
        padding: 30px;

        .description__title {
          font-family: $font-stack-montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 30px;

          color: #646464;

          text-align: center;

          margin-bottom: 30px;

          @include tablet-and-mobile {
            font-size: 20px;
          }
        }

        .description__Info {
          font-family: $font-stack-montserrat;
          font-style: normal;
          font-size: 14px;

          margin-bottom: 10px;

          @include tablet-and-mobile {
            font-size: 12px;
          }

          .Info__each {
            padding-left: 30px;
          }
        }
      }

      .About__image {
        width: 40%;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 20px;
        .Image__logo {
          width:90%;
        }
      }
    }
  }
}