@import 'constants/scssFile/responsive.scss';
@import 'constants/scssFile/color.scss';

.contentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    justify-content: space-between;
    background-color: white;

    overflow-y: scroll;
    overflow-x: hidden;

    .MuiBackdrop-root {
        z-index: 10;
    }

    .managementWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        hr {
            margin: 0 auto;
            width: 90%;
        }
    
        .generalInfo {
            display: flex;
            flex-direction: row;
            width: 70%;
    
            .imageSection {
                display: flex;
                flex-direction: column;
                padding: 10px;
                width: fit-content;
    
                .groupAvatarWrapper {
                    align-self: center;

                    cursor: pointer;

                    .groupAva {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        align-self: center;
                        object-fit: cover;

                        @include mobile {
                            width: 75px;
                            height: 75px;
                        }
                
                        @include tablet {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
    
                .favorBtn {
                    width: 25px;
                    height: 25px;

                    margin: 5px auto;
                }
            }
    
            .description {
                display: flex;
                flex-direction: column;
                width: 70%;
                margin-left: 15px;
    
                .groupName {
                    margin-bottom: 2%;
                }
    
                .groupDescription {
                    color: grey;
                    cursor: pointer;
                }
            }
        }

        .invitations {
            width: 100%;
            margin: 15px 0;

            .title {
                margin-left: 20px;

                span {
                    color: #219653;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }

            .emptyPrompt {
                text-align: center;
                font-style: italic;
                font-weight: bold;
                margin-top: 10px;
                color: rgb(173, 173, 173);
            }
        }
    }

    .leaveBtn {
        border-radius: 30px;
        margin: 10px 0;
        padding: 5px 0;
        width: 30%;
        align-self: center;
        background-color: #e63010;
        color: white;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
}

@media screen and (max-width: 320px) {
    .groupAva {
        width: 50px;
        height: 50px;
    }
}

@media contentWrapper and (max-width: 768px) {
    .groupAva {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 1366px) {
    .groupAva {
        width: 150px;
        height: 150px;
    }
}

// @media screen and (max-width: 2560px) {
//     .groupAva {
//         width: 200px;
//         height: 200px;
//     }
// }