.imageContentWrapper {
    width: 75%;
    max-height: 100vh;
    box-sizing: border-box;
    background-color: white;

    overflow-y: scroll;
    overflow-x: hidden; 

    .MuiBackdrop-root {
        z-index: 10;
    }

    .imageGrid {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
        padding-bottom: 4px;
    }

    .buttonContainer {
        position: absolute;
        width: fit-content;
        height: fit-content;
        border-radius: 50%;

        background-color: white;
        border: 1px solid gray;

        left: 90%;
        top: 90%;
    }
}