@import 'constants/scssFile/color.scss';

.OptionLocation {
  display: flex;
  justify-content: center;

  padding: 20px 0;
  .Each__icon {
    margin: 0 10px;
    .MuiButton-label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    .gasStation {
      background-color: $gasStationMarkerColor;
    }

    .parking {
      background-color: $parkingMarkerColor;
    }

    .delete {
      background-color: red;
    }

    .Icon__circle {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 50px;
      height: 50px;

      border-radius: 50%;

      .Icon {
        font-size: 30px;
        color: white;
      }
    }

    .Icon__description {
      text-transform: none;
      margin-top: 5px;
      font-family: 'Segoe UI';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      color: black;
    }
  }
}