.activeBtn {
    display: block;
    margin-top: 10px;
    margin-left: 10%;
    padding: 2% 0 2% 10%;
    border-radius: 30px 0 0 30px;
    background-color: white;
    align-items: center;
    color: #60D090;
    font-weight: bold;
    cursor: pointer;
    animation-name: btn_Activate;
    animation-duration: 0.5s;
}

.normalBtn {
    display: block;
    margin-top: 10px;
    margin-left: 10%;
    padding: 2% 0 2% 10%;
    border-radius: 30px 0 0 30px;
    background-color: transparent;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@keyframes btn_Activate {
    0% {
        background-color: transparent;
        color: white;
    }
    100% {
        background-color: white;
        color: #60D090;
    }
}

@keyframes btn_Deactivate {
    0% {
        background-color: white;
        color: #60D090;
    }
    100% {
        background-color: transparent;
        color: white;
    }
}