.VerifyEmailPage {
  width: 100%;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .VerifyEmailPage__logo {
    height: 200px;
    width: 200px;
  }

  .VerifyEmailPage__Title {

  }
  
  .Back__btn {

  }
}