@import 'constants/scssFile/responsive.scss';
@import 'constants/scssFile/color.scss';
@import 'constants/scssFile/fonts.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app {
  width: 100%;
  min-width: 300px;
  height: 100%;
  margin: 0;
  padding: 0;
  // color: #273d57;
  background: #f2f6fa;
}