@import './../../constants/scssFile/color.scss';

.MobileDownloadPage__Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  .MuiBackdrop-root {
    background-color: $appColor;
  }

  .Modal__Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow-y: auto;

    max-height: 90vh;

    background: white;
    outline: none;
    border-radius: 20px;

    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25), 
                  4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-family: 'Segoe UI';

    padding: 20px 50px;
    .Box__Title {
      font-size: 30px;
    }
    .App__Logo {
      width: 150px;
      height: 150px;
    }
    .Store__btn {
      width: 150px;
    }
  }
}