@import 'constants/scssFile/color.scss';

.CreateDate__Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  // ---------------------------
    // style scroll bar
    /* width */
    ::-webkit-scrollbar {
      width: 0px;
    }
  // ---------------------------

  .Modal__Box {
    overflow-y: auto;

    max-height: 90vh;

    width: 400px;

    padding: 10px 50px;

    background: #FFFFFF;
    outline: none;
    border-radius: 20px;

    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25), 
                  4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-family: 'Segoe UI';
    
    .Box__Content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .Box__Title {
        font-size: 30px;
      }
  
      // -----------------------------------------
      // CSS Khung không đủ quyền
      .Link__group {
        margin-top: 10px;
        text-decoration: unset;
    
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
      
        cursor: pointer;
        
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
        padding: 8px 12px;
      
        background-color: $appColor;
        color: white;
      }
      // -----------------------------------------
  
      // -----------------------------------------
      // CSS khung điền  form
      .Date__location {
        width: 100%;
        margin: 20px 0 0;
      }
  
      .Date__Group {
        width: 100%;
        margin: 20px 0 10px;
      }
  
      .Date__PickDate {
        width: 100%;
      }
  
      .Date__PickTime {
        width: 100%;
      }
  
      .Date__msg {
        width: 100%;
        margin: 20px 0;
      }
  
      .Date__groupTravel {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin: 10px;

        .GroupTravel__Title {
          color: rgba(0, 0, 0, 0.54);
          margin-bottom: 4px;
          
          font-family: 'Segoe UI';
        }
      }

      .Date__action {
        display: flex;
        justify-content: center;
  
        width: 100%;
  
        margin: 10px 0px 20px;
        .Action__btn {
          padding: 6px 15px;
          border-radius: 10px;
          color: #2F2F2F;
        }
  
        .Btn__cancel {
          margin-right: 20px;
          background-color: #cecece;
          
          text-transform: none;
        }
  
        .Btn__confirm {
          margin-left: 20px;
          background-color: $appColor;
          text-transform: none;
          color: white;
        }
      }
      // -----------------------------------------
    }
  }
}