@import 'constants/scssFile/responsive.scss';
@import 'constants/scssFile/color.scss';

#dropdown--border {
  border: 3px solid #636363;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.34);
}

.Information__Dropdown {
  position: absolute;
  top: 65px;
  right: 0;

  width: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #F9F9F9;
  border: 3px solid $appColor;
  box-sizing: border-box;
  border-radius: 15px;

  padding-bottom: 10px;
  padding-top: 5px;
  
  hr {
    width: 105px;
    border: 0.5px solid $appColor;
  }

  .sticky--line {
    border: 0.5px solid #636363;
  }

  .Dropdown__actions {
    padding: 6px 17px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-decoration: unset;
    color: black;
    outline: none;
  }

  .actions--menu {
    @include desktop {
      display: none;
    }
  }
}